<<<<<<< HEAD
.nav-btn {
    background-color: #293E68;
    color: orange;
}
=======
.header-font {
   
    color: orange;
    margin-left: auto;
    padding-right: 24px;
}
>>>>>>> b41cb0ae4a7668986d4d04dee79de0fdb63dfc2c
