.about-btn {
  background: transparent;
  border: none;
}

.about-btn:hover {
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-radius: 10%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.header-font {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Quicksand', sans-serif;
}

.map-height {
  max-height: 82vh;
}

.transparent-bg {
  background: transparent;
}

li.nav-item:hover {
  background: rgba(255, 255, 255, 0.3);
}

button.transparent-bg:hover {
  background: rgba(255, 255, 255, 0.3);
}

body {
  font-family: 'Quicksand', sans-serif;
}

.button {
  padding: 6px 24px;
  color: white;
  font-weight: bold;
  background-color: orange;
  width: 100%;
  text-align: center;
  border: none;
  display: block;
  
}

.button:hover {
  background-color: rgb(189, 124, 3);
  cursor: pointer;
}

.card-width {
  width: 50vw;
}

.filter-btn {
  background-color: #293E68;
  color: orange;
  padding: 3px 12px !important;
  
}

.login-header {
  background-color: rgba(255, 165, 0, 0.7);
  color: white;
}

.filter-btn:hover {
  background-color: #2E6370;
}

.main-page {
  height: 100vh;
}

.gradient-bg {
  background: #4da0b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1E2D4C, #073E57, #d39d38); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1E2D4C, #073E57, #d39d38); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.map-height {
  height: 50vh;
}
.zipinput {
  border-radius: 6px;
  outline: none;
  /* background: #cfcfcf; */
  border: none;
 
  padding: 3px 12px;
  margin-right: 12px;
}

.form-control:focus{border-color: white;  box-shadow: none; -webkit-box-shadow: none;} 
.has-error .form-control:focus{box-shadow: none; -webkit-box-shadow: none;}

input[type=text]:focus {
  background: transparent;
  color: white;
}

input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  opacity: 0.3;
}
input[type=text]::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
input[type=text]:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
input[type=text]:-moz-placeholder { /* Firefox 18- */
  color: pink;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 768px) {
  .card-width {
    width: 100vw;
  }
}