.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.map-height {
  max-height: 89vh;
}

.button {
  padding: 6px 24px;
  color: white;
  font-weight: bold;
  background-color: orange;
  width: 100%;
  text-align: center;
  border: none;
  display: block;
  
}

.button:hover {
  background-color: rgb(189, 124, 3);
  cursor: pointer;
}

.filter-btn {
  background-color: #293E68;
  color: orange;
}

.filter-btn:hover {
  background-color: #2E6370;
}

.main-page {
  height: 100vh;
}

.map-height {
  height: 50vh;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
