.post-editor {
    margin: 1em 20%;
}
.post-body {
    margin: 1em 20%;
}
.post-editor-btn {
    float:right;
    margin-top: 1em;
    background-color: #293E68;
    color: orange;
}
.post-title {
    color: #293E68;
    font-weight: bold;
}
.user-comment {
    border-bottom: 2px dotted #293E68;
}

@media (max-width: 900px) {
    .post-editor {
        margin: 1em;
    }
    .post-body {
        margin: 1em;
    }
}